body {
    text-align: center;
    color: #625B59;
    align-items: center;
}

h1 {
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.aboutus {
    align-content: center;
    background-color: rgba(255, 255, 255, 0.238);
    width: 500px;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 30px;
    flex: 50%;
}

.hours {
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.238);
    width: 500px;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 60px;
    flex: 50%;
}

.contact {
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.238);
    width: 500px;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 60px;
    flex: 50%;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}