.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#signup, #login {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 110px;
    color: #ffffff;
    background: #6F5F5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

#pusheenflowers {
    height: 256px;
    width: 256px;
}

body {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box {
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.238);
    width: 500px;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 60px;
    flex: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}