.topnav {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
  }

.topnav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    float: center;
    font-family: 'gabrielaregular';
}

.topnav a:hover {
    color: pink;
}

header {
    background-color: #6F5F5F;
    padding: 20px;
  }

footer {
    background-color: #6F5F5F;
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url('images/sakura.png');
    font-family: 'gabrielaregular';
}

@font-face {
    font-family: 'gabrielaregular';
    src: url('images/gabriela-regular-webfont.woff');
}


