body {
    text-align: center;
    color: #625B59;
    align-items: center;
}

h1 {
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.snacks, .food, .drinks {
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.238);
    width: 380px;
    height: 350px;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 60px;
    margin: 30px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}