.topnav {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
  }

.topnav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: 'gabrielaregular';
}

.topnav a:hover {
    color: pink;
}

header {
    background-color: #6F5F5F;
    padding: 20px;
    width: 100%;
  }

footer {
    background-color: #6F5F5F;
    padding: 20px;
    text-align: center;
    color: white;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url('images/sakura.png');
    font-family: 'gabrielaregular';
    overflow-x: hidden;
}

h1 {
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@font-face {
    font-family: 'gabrielaregular';
    src: url('images/gabriela-regular-webfont.woff');
}

.banner {
    position: relative;
    text-align: center;
}

#cats {
    opacity: 0.4;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.top {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #5c4b4b;
}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #5c4b4b;
    font-size: larger;
}

#more-about-us {
    padding: 10px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 110px;
    color: #ffffff;
    background: #6F5F5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}