body{
    text-align: center;
    align-items: center;
}

h1{
    text-align: center;
    color: #625B59;
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
}

p{
    margin: 20px;
}

main{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cat1{
    background-color: rgba(255, 255, 255, 0.238);
    width: 550px;
    height: auto;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px;
    margin-top: 30px;
}

.cat2{
    background-color: rgba(255, 255, 255, 0.238);
    width: 550px;
    height: auto;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px;
    margin-top: 30px;
}

.cat3{
    background-color: rgba(255, 255, 255, 0.238);
    width: 550px;
    height: auto;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px;
    margin-top: 30px;
}

#adopt{
    margin-left: 43%;
    margin-right: 43%;
    background: #6262624b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

img{
    width: 400px;
    height: auto;
}
