body{
    text-align: center;
    align-items: center;
}

h1{
    text-align: center;
    color:  #6F5F5F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    margin: 20px;
}

main{
    color: #6F5F5F;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#ourcats, #perm{
    margin-top: 30px;
}

#image, #image2, #image3, #image4{
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.238);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#desc, #desc2, #desc3, #desc4{
    min-width: 10%;
    max-width: 70%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.238);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#adopt, #adopt2, #adopt3{
    padding: 4px;
    margin:0 auto;
    margin-bottom: 10px;
    width: 80px;
    color: #6F5F5F;
    background: #fff4f4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

img{
    min-width: 50px;
    max-width: 300px;
    height: auto;
}
